{% extends 'base.html' %}
{% load static %}
{% block title %}
	Yeni imtahan növü
{% endblock %}
{% block content %}
<div class="row">
<h3 class="text-center text-secondary">Yeni imtahan növü</h3>
    <hr>
    <div class="col-md-12">
        <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column flex-grow-1 me-2">

                    <label class="form-label" for="{{ form.name.id_for_label }}">Ad
                        {{ form.name }}
                    </label>

                    <label class="form-label" for="{{ form.grades.id_for_label }}">Siniflər
                        {{ form.grades }}
                    </label>

                    <label class="form-label" for="{{ form.exam.id_for_label }}">imtahan
                        {{ form.exam }}
                    </label>
                    <div>
                    <button class="btn btn-success">Əlavə et</button>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
