{% extends 'base.html' %}
{% load static %}
{% block title %}
	Məntəqə redakte
{% endblock %}
{% block content %}
<div class="row">
<h3 class="text-center text-secondary">Məntəqə redakte</h3>
    <hr>
    <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'ticket:precinct_list' %}">Məntəqələr</a></li>
        <li class="breadcrumb-item active" aria-current="page">Məntəqə redakte</li>
      </ol>
    </nav>
    <div class="col-md-12">
        <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column flex-grow-1 me-2">
                    <label class="form-label" for="{{ form.name.id_for_label }}">Məntəqə adı
                        {{ form.name }}
                    </label>

                    <label class="form-label" for="{{ form.address.id_for_label }}">Ünvan
                        {{ form.address }}
                    </label>

                    <label class="form-label" for="{{ form.exam.id_for_label }}">İmtahan seçin
                        {{ form.exam }}
                    </label>
                    <div>
                    <button class="btn btn-success">Yadda saxla</button>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
