{% extends 'base.html' %}
{% load static %}
{% block title %}
    İmtahan növləri cədvəli
{% endblock %}
{% block content %}
    <div class="row">
        <h3 class="text-center text-secondary">İmtahan növləri cədvəli</h3>
        <hr>
        <div class="col">
            <a href="{% url 'ticket:add_exam_type' %}" class="btn btn-outline-success btn-sm mb-2">
                Yeni imtahan növü <i class="fas fa-user-plus"></i>
            </a>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <p>İmtahan növü sayı: {{ ticket_counter }}</p>
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>İmtahan növü</th>
                        <th>Siniflər</th>
                        <th>İmtahan</th>
                        <th class="text-center">Əməliyyatlar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam_type in exam_types %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ exam_type.name }}</td>


                            <td>
                                {% for grade in exam_type.grades.all %}
                                    {{ grade }},
                                {% endfor %}
                            </td>

                            <td>{{ exam_type.exam }}</td>
                            <td class="text-center">
                                <a href="{% url 'ticket:edit_exam_type' exam_type.id %}"
                                   class="btn btn-outline-primary btn-sm me-2"
                                   data-bs-toggle="tooltip" data-bss-tooltip="" type="button" title="Redakte et">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'ticket:exam_type_delete' exam_type.id %}"
                                   class="btn btn-outline-danger btn-sm me-2 delete-ticket"
                                   data-id="{{ exam.id }}"
                                   data-url="{% url 'ticket:exam_type_delete' exam_type.id %}"
                                   title="Sil">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}