{% extends 'base.html' %}
{% load static %}
{% block title %}
    Otaqlar
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'ticket:add_room' %}" class="btn btn-outline-success btn-sm mb-2">
                Yeni otaq <i class="fas fa-user-plus"></i>
            </a>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <p>Məntəqə sayı: {{ ticket_counter }}</p>
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad</th>
                        <th>Yer sayı</th>
                        <th>Böş yer sayı</th>
                        <th>İmtahan növü</th>
                        <th>Mərtəbə</th>
                        <th class="text-center">Əməliyyatlar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ room.name }}</td>
                            <td>{{ room.capacity }}</td>
                            <td>{{ room.available_seats }}</td>
                            <td>{{ room.exam_type }}</td>
                            <td>{{ room.floor }}</td>
                            <td class="text-center">
                                <a href="" target="_blank"
                                   class="btn btn-outline-success btn-sm me-2" type="button">
                                    <i class="fas fa-print" data-bs-toggle="tooltip" data-bss-tooltip=""
                                       title="Çap et"></i>
                                </a>
                                <a href="" class="btn btn-outline-primary btn-sm me-2"
                                   data-bs-toggle="tooltip" data-bss-tooltip="" type="button" title="Redakte et">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href=""
                                   class="btn btn-outline-danger btn-sm me-2 delete-ticket"
                                   data-id=""
                                   data-url=""
                                   title="Sil">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}