<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Əsas səhifə{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-With-Button-icons.css' %}">
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md shadow py-3 mb-5">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'ticket:index' %}">
            {% if user.profile.avatar %}
                <img width="100" src="{{ user.profile.avatar.url }}" alt="Фото профиля" class="profile-avatar">
            {% else %}
                <img src="/media/avatars/default.jpg" class="img-thumbnail" alt="...">
            {% endif %}
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'ticket:index' %}">Qeydiyyat</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ticket:report' %}">Hesabat</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ticket:exam_list' %}">İmtahanlar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ticket:exam_type_list' %}">İmtahan növləri</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ticket:precinct_list' %}">Məntəqələr</a>
                </li>
            </ul>
            </ul>
            <a href="{% url 'account:profile' %}" class="btn btn-primary me-2">Profil</a>
            <a href="{% url 'account:logout' %}" class="btn btn-danger" type="button">Çıxış</a>
        </div>
    </div>
</nav>
<div class="container" id="message">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>

<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/sweetalert2@11.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bs-init.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

<script>
    $(document).ready(function () {
        $('select').select2({
            width: '100%'
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Найти все элементы с классом alert (сообщения)
        let messages = document.querySelectorAll(".alert");

        // Удалить каждое сообщение через 5 секунд
        messages.forEach(function (message) {
            setTimeout(function () {
                message.style.transition = "opacity 0.5s ease-out";
                message.style.opacity = "0"; // Исчезновение

                // Полностью удалить элемент после анимации
                setTimeout(() => message.remove(), 500);
            }, 5000);
        });
    });
</script>
</body>

</html>